
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&display=swap');

body {
    background-color: #883C82;
    padding: 0;
	margin: 0;
	font-family: 'Cormorant SC', serif;
}

#logo {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

#logo h1 {
	margin-bottom: -10px;
}

#logo #logoImg {
	margin: -151px;
}
h1 {
	font-size: 62px;
}
#logoImg {
 	width: 450px;
}

h3 {
	font-size: 48px;
}


#info {
	display: flex;
	flex-direction: column;
	text-align: center;
	padding-left: 25px;
	padding-right: 25px;
}

h2 {
	font-size: 40px;
}

p {
	font-size: 24px;
	margin: 25px;
}

ol {
	list-style: none;
	margin: 0px;
	padding: 0px;
	font-size: 25px;
}

h4 {
	font-size: 30px;
}

.checkboxGroup {
    list-style-type: none;
    padding: 0;
}

.checkboxGroup li {
    margin-bottom: 10px;
}
#forum {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	align-items: center;
	width: 100%;
	padding-bottom: 25px;
}
input {
	border-radius: 10px;
	border: none;
	padding-left: 10px;
	font-size: 18px;
}
label {
	font-size: 24px;
}
h4 {
	font-size: 38px;
}
#schedule {
	width: 25%;
}
#introductions {
	width: 50%;
}
#emailAddress {
	width: 90%;
}
#emailAddress .basic {
	width: 30%;
}
#phoneNumber {
	width: 90%;
}
#phoneNumber #pN {
	width: 20%;
}
#otherText {
	width: 190px;
}
#colors	{
	width: 40%;
}
#quantity {
	width: 35%;
}
#toppersDiv {
	width: 80%;
}
#feedback {
	width: 40%;
}
#referral {
	width: 35%;
}
#submitOrder {
	width: 20%;
}